.page-template-page-contact {
	.outer-content {
		background-color: $color-blue-dark;
		color: $color-blue-light;
		min-height: 100%;
	}

	.content-wrapper {
		padding: 5.5rem 1rem 1rem;

		@media #{$mq-900-up} {
			padding: 7rem 10% 7rem 7.5%;
		}
	}

	.article-body {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr;

		@media #{$mq-900-up} {
			gap: 7%;
			grid-template-columns: 6fr 4fr;
		}
	}

	@media #{$mq-900-down} {
		.map-embed {
			padding: 2em 0 0;
		}
	}

	@media #{$mq-900-up} {
		.text {
			order: 2;
		}

		.map-embed {
			order: 1;
		}
	}

	.article-h1 {
		@extend %font-eaves-bold;
		@include font-size(32px);
		@include letter-spacing(10);
		line-height: 1.2;
		margin: 0;
		padding: 0 0 0.5em;
		text-transform: uppercase;
	}

	.wpcf7 .wpcf7-response-output,
	.wpcf7 .unaccepted .wpcf7-response-output {
		@extend %font-eaves-bold;
		border: 0;
		margin: 0.5em 0 0;
		padding: 0;
	}

	.wpcf7-not-valid-tip {
		@extend %font-eaves-bold;
		@include font-size(11px);
		background: $color-white;
		grid-column-end: 1;
		grid-column-start: 0;
		line-height: 2;
		padding-left: 1rem;
		text-transform: uppercase;
	}

	.wpcf7-form h4 {
		@extend %font-eaves-bold;
		@include letter-spacing(100);
		color: $color-cream;
		font-size: 1.11em;
		margin: 0;
		padding: 1em 0 1.5em;
		text-align: center;
		text-transform: uppercase;

		@media #{$mq-900-up} {
			padding: 0 0 0.5em;
			text-align: left;
		}
	}

	.wpcf7-form p {
		// display: grid;
		// gap: 1em;
		// grid-template-columns: 2fr 1fr;
		@include font-size(18px);
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
	}

	.wpcf7-form-control-wrap {
		// margin: 0 0 1em;
		display: block;
		padding: 0 0 1em;
	}

	.wpcf7-text,
	.wpcf7-email {
		@extend %font-eaves;
		background-color: $color-white;
		border: 0;
		border-radius: 0;
		color: $color-blue-dark;
		font-size: 1em;
		height: 2.6875em;
		line-height: 1;
		padding: 0.5em 1em;
		width: 100%;
	}

	.wpcf7-textarea {
		@extend %font-eaves;
		background-color: $color-white;
		border: 0;
		border-radius: 0;
		color: $color-blue-dark;
		font-size: 1em;
		line-height: 1;
		margin: 0 0 0.75em;
		padding: 0.5em 1em 0;
		width: 100%;
	}

	.wpcf7-form .ajax-loader {
		display: none;
		visibility: hidden;
	}

	.wpcf7-submit {
		@extend %font-eaves-bold;
		@include letter-spacing(100);
		background-color: $color-blue-med;
		border: 0;
		border-radius: 1.5em;
		color: $color-white;
		cursor: pointer;
		display: block;
		font-size: 1em;
		height: 2.6875em;
		line-height: 1;
		padding: 0.5em 2em;
		text-transform: uppercase;
		transition: background-color $trans-duration ease, color $trans-duration ease;

		&:hover,
		&:focus,
		&:active {
			background-color: $color-cream;
			color: $color-blue-dark;
		}
	}

	.buttons {
		padding: 0;
		position: relative;
	}

	.addl {
		@include font-size(20px);
		align-items: end;
		color: $color-blue-light;
		display: grid;
		gap: 1rem;
		grid-template-columns: 2fr 1fr;
		justify-content: center;
		line-height: 1.2;

		p {
			font-size: 0.9em;
			margin: 0;
			padding: 0 0 1em;
		}

		a,
		a:visited,
		a:hover,
		a:active {
			color: $color-blue-light;
			text-decoration: none;
		}

		.copy {
			margin-bottom: -1em;
		}

		image {
			align-content: end;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 120px;
			width: 100%;
		}
	}

	.hours {
		padding: 3rem 0;

		.blocks {
			@include font-size(20px);
			align-items: start;
			color: $color-blue-light;
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr;
			justify-content: center;
			line-height: 1.2;

			@media #{$mq-900-up} {
				grid-template-columns: 1fr 1fr 1fr;
			}

			h4 {
				font-size: 1em;
			}

			p {
				font-size: 0.9em;
				margin: 0;
				padding: 0 0 1em;
			}

			a,
			a:visited,
			a:hover,
			a:active {
				color: $color-blue-light;
				text-decoration: none;
			}
		}
	}
}

.home-hero {
	background-color: $color-blue-dark;

	.content-wrapper {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr; 
		padding: 2em 1em 1em;

		.image {
			padding: 0 0 3rem;
		}

		@media #{$mq-900-up} {
			gap: 3rem;
			grid-template-columns: 1fr 1.2fr;
			padding: 5em 5%;

			.image {
				padding: 0;

				img {
					margin: 0 auto;
				}
			}
		}

		.doit {
			color: $color-cream;
			@include font-size(36px);
			padding: 0.5em 0;

			@media #{$mq-900-up} {
				font-size:3.4vw;
			}
		
			@media #{$mq-1400-up} {
				@include font-size(50px);
			}
		}
	}
}

.striped-frame-headline {
	.content-wrapper {
		@extend %stripey-border;
		background-color: $color-cream;
	}
	.section-headline {
		color: $color-blue-med;
		margin: 0;
		padding: 1.5em 1.5em 1.25em;

		@media #{$mq-900-up} {
			padding: 1.25em 10% 1em;
		}
	}
}

.striped-frame {
	.content-wrapper {
		@extend %stripey-border;
		background-color: $color-cream;
		padding: 2em 2em 4em;
		text-align: center;

		@media #{$mq-900-up} {
			padding: 7em 22.5%;
		}
	}

	.section-headline {
		color: $color-blue-med;
		margin: 0;
		// padding: 1.5em 1.5em 1.25em;
	}

	&.dark {
		.content-wrapper {
			background-color: $color-blue-light;
			color: $color-blue-dark;
		}

		.section-headline {
			color: $color-blue-dark;
		}
	}

	.cta-btn {
		@extend %btn;
		margin: 1em auto 0;
		display: inline-block;
		text-align: center;
	}
}

.amenities {
	.content-wrapper {
		background-color: $color-blue-light;
		color: $color-blue-med;
		padding: 2em;

		@media #{$mq-900-up} {
			padding: 5em 10%;
		}
	}

	.inner-wrapper {
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 1fr; 
		padding: 1rem 0 0;

		// img {
		// 	padding-bottom: 1rem;
		// 	width: 100%;
		// }

		@media #{$mq-900-up} {
			gap: 3vw;
			grid-template-columns: 1fr 1fr 1fr 1fr; 
			justify-content: center;
		}
	}
}

.head-n-copy {
	// color: $color-cream;

	// .section-headline {
	// 	color: $color-cream;
	// }
	.section-headline {
		color: $color-blue-med;
	}

	&.dark {
		background-color: $color-blue-dark;
		color: $color-cream;

		.section-headline {
			color: $color-cream;
		}
	}

	.content-wrapper {
		padding: 2rem;
		text-align: center;

		@media #{$mq-900-up} {
			padding: 5em 20% 3em;
		}
	}

	.copy {
		// padding: 1.5em 1.5em 1.25em;
		
		@media #{$mq-900-up} {
			// max-width: 50%;
			// padding: 1.25em 10% 1em;
		}
	}

	&.gfx {
		.content-wrapper {
			@media #{$mq-900-up} {
				padding: 5em 5% 3em;
			}
		}

		.inner-wrapper {
			@media #{$mq-900-up} {
				display: grid;
				gap: 2rem;
				grid-template-columns: 2fr 4fr 2fr;
			}
		}

		.copy {
			order: 2;
		}

		.icon-gfx {
			text-align: center;

			img {
				height: auto;
				margin: 1rem auto;
				width: 20%;

				@media #{$mq-900-up} {
					margin: -1rem auto 0;
					width: 40%;
				}
			}
		}

		.gfx-left {
			order: 1;
		}

		.gfx-right {
			order: 3;
		}
	}
}

.events {
	// background-color: $color-blue-light;

	.section-headline {
		// color: $color-blue-dark;
	}
}

.photo-text {
	.content-wrapper {
		background-color: $color-cream;
		padding: 2em 1em 2em;

		@media #{$mq-900-up} {
			padding: 5em 5% 2em;
		}
	}

	.section-headline {
		color: $color-blue-dark;
	}

	.inner-wrapper {
		display: grid;
		grid-template-columns: 1fr; 

		@media #{$mq-900-up} {
			gap: 5rem;
			grid-template-columns: 1fr 1fr;
			padding-top: 1rem;
		}

		.copy {
			padding-top: 1rem;
			
			@media #{$mq-900-up} {
				padding-top: 0;
			}
		}

		.cta-btn {
			@extend %btn;
			margin: 1em auto 0;
			display: inline-block;
			text-align: center;

			&:hover,
			&:focus,
			&:active {
				background-color: $color-blue-dark;
				color: $color-white;
			}
		}

		.icon-gfx {
			@media #{$mq-900-up} {
				padding-top: 2rem;
			}

			img {
				margin: 0 auto;

			@media #{$mq-900-down} {
				width: 40%;
			}
			}
		}
	}
}

.destination-spotlight {
	.content-wrapper {
		background-color: $color-cream;
		padding: 2em 1em 4em;

		@media #{$mq-900-up} {
			padding: 5em 5%;
		}
	}

	.section-headline {
		color: $color-blue-med;
	}

	.copy {
		display: grid;
		grid-template-columns: 1fr; 

		@media #{$mq-900-up} {
			gap: 2rem;
			grid-template-columns: 1fr 1fr;
			padding-top: 1rem;
		}

		strong {
			color: $color-blue-med;
			text-transform: uppercase;
		}
	}

	.col-2 {
		color: $color-blue-med;
		
		@media #{$mq-900-up} {
			padding-top: 5.9vw;
		}
	
		@media #{$mq-1400-up} {
			padding-top: 4.25rem;
		}

		@media #{$mq-900-down} {
			img {
				width: 100%;
			}
		}
	}
}

.journey {
	.content-wrapper {
		background-color: $color-cream;
		padding: 2em 2em 4em;

		@media #{$mq-900-up} {
			padding: 5em 5% 3rem;
		}
	}

	.sub-headline {
		color: $color-blue-med;
		text-align: left;
		width: 85%;
	}

	.copy {

		display: grid;
		grid-template-columns: 1fr; 

		@media #{$mq-900-up} {
			gap: 5rem;
			grid-template-columns: 1fr 1fr;
			padding-top: 1rem;
		}

		strong {
			color: $color-blue-med;
			text-transform: uppercase;
		}

		img {
			margin: 0 auto;
		}
	}
}

.must-see {
	.content-wrapper {
		padding: 2em 1em 4em;

		@media #{$mq-900-up} {
			padding: 5em 5%;
		}
	}

	.copy {
		display: grid;
		grid-template-columns: 1fr; 
		padding: 1rem 0 0;

		// img {
		// 	padding-bottom: 1rem;
		// 	width: 100%;
		// }

		@media #{$mq-900-up} {
			gap: 2rem;
			grid-template-columns: 1fr 2fr; 
		}

		ul {
			order: 1;

			@media #{$mq-900-up} {
				order: 2;
			}
		}

		.icon-gfx {
			order: 2;
			padding-top: 2rem;
			text-align: center;

			@media #{$mq-900-up} {
				padding-top: 0;
				order: 1;
			}

			img {
				height: auto;
				margin: 0 auto;
				width: 20%;

				@media #{$mq-900-up} {
					width: 40%;
				}
			}
		}
	}

	.insider-tip {
		color: $color-blue-med;
	}
}

.social-feed {
	background-color: $color-blue-light;
	.content-wrapper {
		// background-color: $color-blue-light;
		color: $color-blue-dark;
		// padding: 2em 2em 4em;
		padding: 2em 0 2em;

		@media #{$mq-900-up} {
			// padding: 5em 5%;
			padding: 5em 1em 2em;
		}
	}

}

.horiz-space {
	display: block;
	height: 1rem;

	@media #{$mq-900-up} {
		height: 3rem;
	}
}

.the-space {
	.content-wrapper {
		background-color: $color-blue-dark;
		color: $color-blue-light;
		padding: 2em 2em 0;
		// text-align: center;

		@media #{$mq-900-up} {
			padding: 5em 5%;
		}
	}

	.inner-wrapper {
		display: grid;
		grid-template-columns: 1fr; 
		padding: 1rem 0 0;

		// img {
		// 	padding-bottom: 1rem;
		// 	width: 100%;
		// }

		@media #{$mq-900-up} {
			gap: 5rem;
			grid-template-columns: 1fr 1fr; 
			justify-content: start;
		}
	}

	.space {
		display: grid;
		grid-template-columns: 1fr; 
		justify-content: center;

		@media #{$mq-900-up} {
			gap: 2rem;
			grid-template-columns: 1fr 1fr; 
			justify-content: start;
		}

		h4 {
			padding: 0.5em 0;
			text-align: right;
			white-space: nowrap;
		}
		
		&:nth-child(2) {
			h4 {
				order: 2;
				text-align: left;
			}
		}

		@media #{$mq-900-down} {
			h4 {
				text-align: center;
			}

			&:nth-child(2) {
				h4 {
					order: 0;
					text-align: center;
				}
			}

			img {
				margin: 0 auto 2rem;
			}
		}
	}
}

.contact-form {
	background-color: $color-blue-dark;
	
	.content-wrapper {
		background-color: $color-blue-dark;
		padding: 2em 1em 4em;

		@media #{$mq-900-up} {
			padding: 5em 20% 2em;
		}
	}

	.section-headline,
	.copy {
		color: $color-blue-light;
		text-align: center;
	}

	.wpcf7 .wpcf7-response-output,
	.wpcf7 .unaccepted .wpcf7-response-output {
		@extend %font-eaves-bold;
		border: 0;
		margin: 0.5em 0 0;
		padding: 0;
	}

	.wpcf7-not-valid-tip {
		@extend %font-eaves-bold;
		@include font-size(11px);
		background: $color-white;
		grid-column-end: 1;
		grid-column-start: 0;
		line-height: 2;
		padding-left: 1rem;
		text-transform: uppercase;
	}

	.wpcf7-form h4 {
		@extend %font-eaves-bold;
		@include letter-spacing(100);
		color: $color-cream;
		font-size: 1.11em;
		margin: 0;
		padding: 1em 0 1.5em;
		text-align: center;
		text-transform: uppercase;

		@media #{$mq-900-up} {
			padding: 0 0 0.5em;
			text-align: left;
		}
	}

	.wpcf7-form p {
		// display: grid;
		// gap: 1em;
		// grid-template-columns: 2fr 1fr;
		@include font-size(18px);
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
	}

	.wpcf7-form-control-wrap {
		// margin: 0 0 1em;
		display: block;
		padding: 0 0 1em;
	}

	.wpcf7-text,
	.wpcf7-email,
	.wpcf7-select {
		@extend %font-eaves;
		background-color: $color-white;
		border: 0;
		border-radius: 0;
		color: $color-blue-dark;
		font-size: 1em;
		height: 2.6875em;
		line-height: 1;
		padding: 0.5em 1em;
		width: 100%;
	}

	.wpcf7-textarea {
		@extend %font-eaves;
		background-color: $color-white;
		border: 0;
		border-radius: 0;
		color: $color-blue-dark;
		font-size: 1em;
		line-height: 1;
		margin: 0 0 0.75em;
		padding: 0.5em 1em 0;
		width: 100%;
	}

	.wpcf7-form .ajax-loader {
		display: none;
		visibility: hidden;
	}

	.wpcf7-submit {
		@extend %font-eaves-bold;
		@include letter-spacing(100);
		background-color: $color-blue-med;
		border: 0;
		border-radius: 1.5em;
		color: $color-white;
		cursor: pointer;
		display: block;
		font-size: 1em;
		height: 2.6875em;
		line-height: 1;
		padding: 0.5em 2em;
		text-transform: uppercase;
		transition: background-color $trans-duration ease, color $trans-duration ease;

		&:hover,
		&:focus,
		&:active {
			background-color: $color-cream;
			color: $color-blue-dark;
		}
	}

	.buttons {
		padding: 0;
		position: relative;
	}

	.addl {
		@include font-size(20px);
		align-items: end;
		color: $color-blue-light;
		display: grid;
		gap: 1rem;
		grid-template-columns: 2fr 1fr;
		justify-content: center;
		line-height: 1.2;

		p {
			font-size: 0.9em;
			margin: 0;
			padding: 0 0 1em;
		}

		a,
		a:visited,
		a:hover,
		a:active {
			color: $color-blue-light;
			text-decoration: none;
		}

		.copy {
			margin-bottom: -1em;
		}

		image {
			align-content: end;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 120px;
			width: 100%;
		}
	}



}

.image-cta {
	.content-wrapper {
		align: center;
		margin: 1rem auto;
		position: relative;
	}

	.cta-btn {
		@extend %btn;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	@media #{$mq-900-up} {
		margin: 2rem 0;
	}
}

.video-block {
	padding: 0 1rem;
	
	.content-wrapper {
		display: grid;
		grid-template-columns: 1fr; 

		video {
			padding-bottom: 1rem;
			width: 100%;
		}

		@media #{$mq-900-up} {
			video {
				padding-bottom: 0;
			}
		}
	}

	@media #{$mq-900-up} {
		padding: 2rem 2rem 0;
	}
}

.images-1-1 {
	padding: 0 1rem;
	
	.content-wrapper {
		display: grid;
		// gap: 1rem;
		grid-template-columns: 1fr; 

		img {
			padding-bottom: 1rem;
			width: 100%;
		}

		@media #{$mq-900-up} {
			gap: 2rem;
			grid-template-columns: 1fr 1fr; 

			img {
				padding-bottom: 0;
			}
		}
	}

	@media #{$mq-900-up} {
		padding: 2rem 2rem 0;
	}
}

.images-1-1-1 {
	padding: 0 1rem;

	.content-wrapper {
		display: grid;
		// gap: 1rem;
		grid-template-columns: 1fr; 

		img {
			padding-bottom: 1rem;
			width: 100%;
		}

		@media #{$mq-900-up} {
			gap: 2rem;
			grid-template-columns: 1fr 1fr 1fr; 
	
			img {
				padding-bottom: 0;
			}
		}
	}

	@media #{$mq-900-up} {
		padding: 2rem 2rem 0;
	}
}

.images-2-1 {
	padding: 0 1rem;

	.content-wrapper {
		display: grid;
		// gap: 1rem;
		grid-template-columns: 1fr; 
		
		img {
			padding-bottom: 1rem;
			width: 100%;
		}

		@media #{$mq-900-up} {
			gap: 2rem;
			grid-template-columns: 2fr 1fr; 
	
			img {
				padding-bottom: 0;
			}
		}
	}

	@media #{$mq-900-up} {
		padding: 2rem 2rem 0;
	}
}
