@import url('https://use.typekit.net/xyu8jvl.css'); // Adobe Typekit (Mr Eaves Modern, Acme Gothic Condensed)

%font-eaves {
	font-display: default;
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 400;
}

%font-eaves-ital {
	font-display: default;
	font-family: mr-eaves-modern, sans-serif;
	font-style: italic;
	font-weight: 400;
}

%font-eaves-bold {
	font-display: default;
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 700;
}

%font-acme {
	font-family: acme-gothic-condensed, sans-serif;
	font-style: normal;
	font-weight: 600;
}
