.site-footer {
	background-color: $color-blue-med;
	margin: 0 auto;
	padding: 0;

	@media #{$mq-900-up} {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
	}

	.global-footer {
		align-items: start;
		display: grid;
		gap: 0;
		grid-template-columns: 1fr;
		justify-items: stretch;
		margin: 0 auto;
		max-width: $max-width;
		padding: 3rem 1rem 0;

		@media #{$mq-900-up} {
			grid-template-columns: 1fr 1fr 1fr 1.5fr 0.5fr;
			// margin: 0 4.375rem;
			padding: 3rem 3.35% 0;
		}

		.logo {
			display: none;

			@media #{$mq-900-up} {
				align-self: center;
				display: inline-block;
			}

			img {
				max-width: 210px;
				width: 80%;
			}
		}

		.info-location,
		.info-contact,
		.subscribe {
			@include font-size(20px);
			color: $color-cream;
			// line-height: 2;
			line-height: 1.2;
			margin-top: 2rem;
			text-align: center;

			@media #{$mq-900-up} {
				font-size: 1.3vw;
			}

			@media #{$mq-1400-up} {
				@include font-size(18px);
			}

			address {
				font-style: normal;
			}

			a {
				color: $color-cream;
				display: inline-block;
				// line-height: 1.2;
				text-decoration: none;
			}
		}

		.subscribe {
			text-align: left;
		}
	}

	.wpcf7  .wpcf7-response-output,
	.wpcf7 .unaccepted .wpcf7-response-output {
		@extend %font-eaves-bold;
		border: 0;
		margin: 0.5em 0 0;
		padding: 0;
	}

	.wpcf7-not-valid-tip {
		@extend %font-eaves-bold;
		@include font-size(11px);
		background: $color-white;
		grid-column-end: 1;
		grid-column-start: 0;
		line-height: 2;
		padding-left: 1rem;
		text-transform: uppercase;
	}

	.wpcf7-form h4 {
		@extend %font-eaves-bold;
		@include letter-spacing(100);
		color: $color-cream;
		font-size: 1.11em;
		margin: 0;
		padding: 1em 0 1.5em;
		text-align: center;
		text-transform: uppercase;

		@media #{$mq-900-up} {
			padding: 0 0 0.5em;
			text-align: left;
		}
	}

	.wpcf7-form p {
		display: grid;
		gap: 1em;
		grid-template-columns: 2fr 1fr;
		margin: 0;
		position: relative;
		width: 100%;
	}

	.wpcf7-text,
	.wpcf7-email {
		@extend %font-eaves;
		background-color: $color-white;
		border: 0;
		border-radius: 0;
		color: $color-blue-dark;
		font-size: 1em;
		height: 2.6875em;
		line-height: 1;
		padding: 0.5em 1em;
		width: 100%;
	}

	.wpcf7-form .ajax-loader {
		display: none;
		visibility: hidden;
	}

	.wpcf7-submit {
		@extend %font-eaves-bold;
		@include letter-spacing(100);
		background-color: $color-cream;
		border: 0;
		border-radius: 1.5em;
		color: $color-blue-dark;
		cursor: pointer;
		display: block;
		font-size: 1em;
		height: 2.6875em;
		line-height: 1;
		padding: 0.5em 2em;
		text-transform: uppercase;
		transition: background-color $trans-duration ease, color $trans-duration ease;

		&:hover,
		&:focus,
		&:active{
			background-color: $color-blue-dark;
			color: $color-cream;
		}
	}

	.socmed {
		@include font-size(20px);
		align-content: center;
		display: flex;
		justify-content: center;
		list-style: none;
		list-style-image: none;
		margin: 0;
		padding: 1rem 0 0;

		@media #{$mq-900-up} {
			// align-content: end;
			// align-self: end;
			font-size: 1.3vw;
			// justify-content: end;
			margin-top: 2rem;
			padding: 1.8333em 0 0;
		}

		@media #{$mq-1400-up} {
			@include font-size(18px);
		}
	
		a {
			border-radius: 50%;
			color: transparent;
			display: block;
			height: 1em;
			margin: 0 1rem;
			padding: 1.6em;
			text-indent: -100vw;
			transition: background-color $trans-duration ease;
			width: 1em;

			@media #{$mq-900-up} {
				margin: 0 0 0 0.5em;
				padding: 1.375em;
			}
		}

		.fb a {
			background: $color-cream url('../img/icon-fb.svg') 50% 50% no-repeat;
			background-size: 1.333em 1.333em;
			// font-size: 1px;

			&:hover {
				background-color: $color-socmed-fb;
				background-image: url('../img/icon-fb-lt.svg');
			}
		}

		.ig a {
			background: $color-cream url('../img/icon-ig.svg') 50% 50% no-repeat;
			background-size: 1.333em 1.333em;
			// font-size: 1px;

			&:hover {
				background-color: $color-socmed-ig;
				background-image: url('../img/icon-ig-lt.svg');
			}
		}

		.tw a {
			background: $color-cream url('../img/icon-tw.svg') 50% 50% no-repeat;
			background-size: 1.333em 1.333em;
			// font-size: 1px;

			&:hover {
				background-color: $color-socmed-tw;
			}
		}
	}

	.legal {
		@include font-size(16px);
		align-items: end;
		color: $color-cream;
		gap: 0;
		grid-template-columns: 1fr;
		line-height: 2;
		padding: 2rem 1rem;
		text-align: center;

		@media #{$mq-900-up} {
			margin: 0 auto;
		}

		a {
			color: $color-cream;
			display: block;
			// line-height: 1.2;
			text-decoration: none;
		}

		p {
			margin: 0 auto;
		}
	}
}
