// SASS version of global variables 

$color-white: #fff;
$color-cream: #fff4e7;
$color-blue-light: #97ceeb;
$color-blue-med: #3393c1;
$color-blue-dark: #3f4c60;
$color-grey-med: #707070;
$color-socmed-fb: #43609c;
$color-socmed-tw: #55acee;
$color-socmed-ig: #b9378c;

// $base-page-background: $color-blue-light;
$base-page-background: $color-cream;
$base-font-color: $color-blue-dark;
$base-link-color: $color-blue-med;
$trans-duration: 200ms;
$max-width: 1600px;

// Media Queries

$mq-620-down: 'only screen and (max-width: 620px)';
$mq-620-up: 'only screen and (min-width: 620px)';

$mq-760-down: 'only screen and (max-width: 759px)';
$mq-760-up: 'only screen and (min-width: 760px)';

$mq-900-down: 'only screen and (max-width: 899px)';
$mq-900-up: 'only screen and (min-width: 900px)';

$mq-1000-down: 'only screen and (max-width: 999px)';
$mq-1000-up: 'only screen and (min-width: 1000px)';

$mq-1180-up: 'only screen and (min-width: 1180px)';

$mq-1400-up: 'only screen and (min-width: 1400px)';
